<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Salon.master.cs" Inherits="SalonWebApp2.Salon" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <!-- -------------------------------------------------------------------------------------------------------------------------------------------Modify-------------------------------------------------------------------- -->
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Site Metas -->
    <title>EMANGWENI SALON</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="style.css" />
    <!-- Colors CSS -->
    <link rel="stylesheet" href="css/colors.css" />
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="css/versions.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css" />
    <link rel="stylesheet" href="css/StyleSheet2.css" />
    <!--[if lt IE 9]-->
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <!-- [endif]-->
    <!-- -------------------------------------------------------------------------------------------------------------------------------------------Modify-------------------------------------------------------------------- -->
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body class="barber_version">
    <form id="form1" runat="server">
    <div>
        <!-- -------------------------------------------------------------------------------------------------------------------------------------------Modify-------------------------------------------------------------------- -->
        <!-- LOADER -->
        <div id="preloader">
            <div class="cube-wrapper">
                <div class="cube-folding">
                    <span class="leaf1"></span><span class="leaf2"></span><span class="leaf3"></span>
                    <span class="leaf4"></span>
                </div>
                <span class="loading" data-name="Loading">EMANGWENI SALON Loading</span>
            </div>
        </div>
        <!-- end loader -->
        <!-- END LOADER -->
        <div id="wrapper">
            <!-- Sidebar-wrapper -->
            <div id="sidebar-wrapper">
                <div class="side-top">
                    <div class="center">
                        <asp:label id="lblWelcome" runat="server" text="welcome" forecolor="#4DFFB8"></asp:label>
                    </div>
                    <!-- -----------------------------------------------------------------------------Login----------------------------------------------------------------------- -->
                    <div class="center">
                        <table>
                            <tr>
                                <td>
                                 <ul class="sidebar-nav">  
                                  <a href="#menu-toggle" class="menuopener" id="A1"><i class="fa fa-bars"></i></a>

                                    <asp:hyperlink id="hlRegister" navigateurl="~/Regsiter.aspx" height="16px" runat="server">
                                    </asp:hyperlink>&nbsp;&nbsp;
                                    <asp:hyperlink id="hlLogin" navigateurl="~/Login.aspx" height="16px" runat="server">
                                    </asp:hyperlink>
                                    <asp:linkbutton id="lbtnLogout" height="16px" runat="server" onclick="lbtnLogout_Click">
                                    </asp:linkbutton>   
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- -----------------------------------------------------------------------------Login----------------------------------------------------------------------- -->
                    <ul class="sidebar-nav">
                        <li><a href="Home.aspx">Home</a></li>
                         <li><a href="Services.aspx">Services</a></li>
                        <li><a href="OurProducts.aspx">Product Store</a></li>
                        <li><a href="BookAppointments.aspx">Book an Appointment</a></li>
                        <li> <asp:hyperlink id="hplAP" runat="server" navigateurl="AdminPortal.aspx">Admin Portal</asp:hyperlink></li>
                         
                       
                    </ul>

                    <!-- ---------------------------------------------------------------------------Cart--------------------------------------------------------------------- -->

                    <table>
                        <tr>
                            <td>
                                <asp:label id="lblNoOfItems" runat="server" text="0"></asp:label>
                                <td>
                        </tr>
                        <tr>
                            <td>
                                <asp:image id="imgCart" imageurl="~/images/cart.png" width="50px" hieght="50px" runat="server">
                                </asp:image>
                            </td>
                            <td class="center">
                                <asp:label id="lblTotalPriceLabel" runat="server" text="Total Price: R"></asp:label><asp:label id="lblTotalPrice" runat="server"></asp:label>
                            </td>
                        </tr>
                        </table>

                        <!-- ---------------------------------------------------------------------------Cart--------------------------------------------------------------------- -->

                    <br/>
                    <br/>

                    <table class="center">
                        <tr>
                            <td>
                            <ul class="sidebar-nav">
                                 <li>
                                     <asp:hyperlink id="hplViewOrder" navigateurl = "ViewMyOrder.aspx" runat="server">View My Order</asp:hyperlink></li>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- End Sidebar-wrapper -->
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <a href="#menu-toggle" class="menuopener" id="menu-toggle"><i class="fa fa-bars"></i>
                </a>
                <div id="home" class="parallax first-section" data-stellar-background-ratio="0.2"
                    style="background-image: url('uploads/barber_slider.jpg');">
                    <div class="container-fluid">
                        <div class="row">
                            <div id="full-width" class="owl-carousel owl-theme">
                                <div class="text-center item">
                                    <div class="col-md-8 col-md-offset-2 col-sm-12">
                                        <div class="big-tagline text-center">
                                            <h2>
                                                <strong>EMANGWENI SALON</strong><br>
                                                in Pietermaritzburg</h2>
                                            <p class="lead">
                                                More than a salon, a complete beauty shop to give you the ultimate experince</p>
                                            <a href="BookAppointments.aspx" class="btn btn-light btn-radius btn-brd grd1 effect-1 butn">BOOK NOW</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center item">
                                    <div class="col-md-8 col-md-offset-2 col-sm-12">
                                        <div class="big-tagline text-center">
                                            <h2>
                                                <strong>EMANGWENI PRODUCTS</strong><br>
                                                We sell a range of weaves for any occassion</h2>
                                            <p class="lead">
                                            </p>
                                            <a href="OurProducts.aspx" class="btn btn-light btn-radius btn-brd grd1 effect-1 butn">BUY NOW</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center item">
                                    <div class="col-md-8 col-md-offset-2 col-sm-12">
                                        <div class="big-tagline text-center">
                                            <h2>
                                                <strong>EMANGWENI SPAR</strong><br>
                                            </h2>
                                            <p class="lead">
                                                Pamper yourself with our dedicated Spar that will leave you feeling fresh and new.</p>
                                            <a href="BookAppointments.aspx" class="btn btn-light btn-radius btn-brd grd1 effect-1 butn">BOOK NOW</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end container -->
                </div>
                <!-- end section -->
                <section class="section nopad cac text-center">
                <a href="Login.aspx"><h3>Interesting our awesome barber services? Just drop an appointment form below!</h3></a>
            </section>
                <br />
                <br />
                <asp:contentplaceholder id="ContentPlaceHolder1" runat="server">
                </asp:contentplaceholder>
                <div id="testimonials" class="parallax section db parallax-off" 
                    style="background-image: url('uploads/Slider.jpg'); top: 33px; left: 0px;">
                    <div class="container-fluid">
                        <div class="section-title row text-center">
                            <div class="col-md-8 col-md-offset-2">
                                <small>LET'S SEE OUR TESTIMONIALS</small>
                                <h3>
                                    HAPPY TESTIMONIALS</h3>
                                <hr class="grd1" />
                                <p class="lead">
                                    We love treating all of our clients here at Emangweni and are so privileged to have such a loyal client base;  many of whom have followed Thokozani for years.</p>
<p style="font-weight: bolder">Over  90% of new clients return to experience further five star treatments from our innovative and extensive range.</p>


                            </div>
                        </div>
                        <!-- end title -->
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="testi-carousel owl-carousel owl-theme">
                                    <div class="testimonial clearfix">
                                        <div class="desc">
                                            <h3>
                                                <i class="fa fa-quote-left"></i>Wonderful Support!</h3>
                                            <p class="lead">
                                                I have been a client at Emangweni for quite some years now, one always gets greeted with a friendly smile. I personally would highly recommend this beauty salon!!</p>
                                        </div>
                                        <div class="testi-meta">
                                            <img src="uploads/testi_01.png" alt="" class="img-responsive alignright" />
                                            <h4>
                                                Sboniso Shabalala <small>- Manager of Hotel</small></h4>
                                        </div>
                                        <!-- end testi-meta -->
                                    </div>
                                    <!-- end testimonial -->
                                    <div class="testimonial clearfix">
                                        <div class="desc">
                                            <h3>
                                                <i class="fa fa-quote-left"></i>Awesome Services!</h3>
                                            <p class="lead">Service is friendly and professional, using top class products. There is an extensive list of treatments, plus regular new, innovative ideas. If you’e not yet had the Emangweni experience, try it!</p>
                                        </div>
                                        <div class="testi-meta">
                                            <img src="uploads/testi_02.png" alt="" class="img-responsive alignright" />
                                            <h4>
                                                Jacques Philips <small>- Designer</small></h4>
                                        </div>
                                        <!-- end testi-meta -->
                                    </div>
                                    <!-- end testimonial -->
                                    <div class="testimonial clearfix">
                                        <div class="desc">
                                            <h3>
                                                <i class="fa fa-quote-left"></i>Great & Talented Team!</h3>
                                            <p class="lead">
                                                A welcoming and professional atmosphere. Attentive and thoughtful staff who make the experience an individual one.
                                            </p>
                                        </div>
                                        <div class="testi-meta">
                                            <img src="uploads/testi_03.png" alt="" class="img-responsive alignright" />
                                            <h4>
                                                Venanda Mercy <small>- Scottsville</small></h4>
                                        </div>
                                        <!-- end testi-meta -->
                                    </div>
                                    <!-- end testimonial -->
                                    <div class="testimonial clearfix">
                                        <div class="desc">
                                            <h3>
                                                <i class="fa fa-quote-left"></i>Great & Talented Team!</h3>
                                            <p class="lead">
                                                I can only thank the lovely ladies at Emangweni for getting me ready for my Wedding day! I felt a million dollars! Thank you.
                                            </p>
                                        </div>
                                        <div class="testi-meta">
                                            <img src="uploads/testi_03.png" alt="" class="img-responsive alignright" />
                                            <h4>
                                                Venanda Mercy <small>- Scottsville</small></h4>
                                        </div>
                                        <!-- end testi-meta -->
                                    </div>
                                    <!-- end testimonial -->
                                </div>
                                <!-- end carousel -->
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end container -->
                </div>
                <!-- end section -->
                <div class="copyrights">
                    <div class="container-fluid">
                        <div class="footer-distributed">
                            <div class="footer-left">
                                <p class="footer-links">
                                    
                                    <a href="Home.aspx">Home</a> <a href="Services.aspx">Services</a> <a href="OurProducts.aspx">Product Store</a> <a href="BookAppointments.aspx">Book Appointment</a>  
                                </p>
                                <p class="footer-company-name">
                                    All Rights Reserved. &copy; 2019 <a href="#">Emangweni Salon</a> Design By :<a href="#">
                                        SSSNN</a></p>
                            </div>
                            
                               
                            </div>
                        </div>
                    </div>
                    <!-- end container -->
                </div>
                <!-- end copyrights -->
            </div>
        </div>
        <!-- end wrapper -->
        <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up">
        </i></a>
        <!-- ALL JS FILES -->
        <script src="js/all.js"></script>
        <script src="js/responsive-tabs.js"></script>
        <!-- ALL PLUGINS -->
        <script src="js/custom.js"></script>
        <!-- Menu Toggle Script -->
        <script>
            (function ($) {
                "use strict";
                $("#menu-toggle").click(function (e) {
                    e.preventDefault();
                    $("#wrapper").toggleClass("toggled");
                });
                smoothScroll.init({
                    selector: '[data-scroll]', // Selector for links (must be a class, ID, data attribute, or element tag)
                    selectorHeader: null, // Selector for fixed headers (must be a valid CSS selector) [optional]
                    speed: 500, // Integer. How fast to complete the scroll in milliseconds
                    easing: 'easeInOutCubic', // Easing pattern to use
                    offset: 0, // Integer. How far to offset the scrolling anchor location in pixels
                    callback: function (anchor, toggle) { } // Function to run after scrolling
                });
            })(jQuery);
        </script>
        <!-- -------------------------------------------------------------------------------------------------------------------------------------------Modify-------------------------------------------------------------------- -->
    </div>
    </form>
</body>
</html>
